params {
       repoDir='/seqprg'
}
process {
  executor = 'slurm'
  clusterOptions = '--hold --no-kill'
  queue = '128GB,256GB,256GBv1'
  withLabel: trim {
    container = 'goalconsortium/trim_galore:1.0.9'
  }
  withLabel: abra2 {
    container = 'goalconsortium/abra2:1.0.9'
  }
  withLabel: profiling_qc {
    container = 'goalconsortium/profiling_qc:1.0.9'
  }
  withLabel: dnaalign {
     container = 'goalconsortium/dna_alignment:1.0.9'
  }
  withLabel: variantcalling  {
    container = 'goalconsortium/variantcalling:1.0.9'
  }
  withLabel: structuralvariant {
     container = 'goalconsortium/structuralvariant:1.0.9'
  }
  withLabel: starfusion {
    container = 'goalconsortium/starfusion:1.0.9'
  }
  withLabel: ralign {
    container = 'goalconsortium/rna_alignment:1.0.9'
  }
  withLabel: geneabund {
    container = 'goalconsortium/rna_gene_abundance:1.0.9'
  }
}

singularity {
  enabled = true
  runOptions='--no-home --cleanenv'
  cacheDir="$PWD"
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  field = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime'
}

timeline {
  enabled = false
  file = 'timeline.html'
}

report {
  enabled = false
  file = 'report.html'
}

manifest {
  homePage = 'https://github.com/bcantarel/school'
  description = 'School is a collection of genomics analysis workflows that are used for detecting single nucleotide variants (SNVs), insertions/deletions (indels), copy number variants (CNVs) and translocations from RNA and DNA sequencing.  These workflows have been validated in a CLIA laboratory at UTSW'
  mainScript = 'dna.nf'
  nextflowVersion = '>=0.31.0'
}
