process {
  executor = 'slurm'
  clusterOptions = '--hold --no-kill'
  queue = '128GB,256GB,256GBv1'
  withName: bamct {
    module = ['pigz/2.4']
  }
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  field = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime'
}

timeline {
  enabled = false
  file = 'timeline.html'
}

report {
  enabled = false
  file = 'report.html'
}

env {
  http_proxy = 'http://proxy.swmed.edu:3128'
  https_proxy = 'http://proxy.swmed.edu:3128'
  all_proxy = 'http://proxy.swmed.edu:3128'
}

manifest {
  homePage = 'https://git.biohpc.swmed.edu/ngsclialab/school'
  description = 'School is a collection of genomics analysis workflows that are used for detecting single nucleotide variants (SNVs), insertions/deletions (indels), copy number variants (CNVs) and translocations from RNA and DNA sequencing.  These workflows have been validated in a CLIA laboratory at UTSW'
  mainScript = 'rna.nf'
  version = '1.0.0'
  nextflowVersion = '>=0.31.0'
}
