params {
       repoDir='/seqprg/school'
}
process {
  executor = 'slurm'
  clusterOptions = '--hold --no-kill'
  queue = '128GB,256GB,256GBv1'
  withLabel: trim {
    container = 'trim_galore.sif'
  }
  withLabel: profiling_qc {
    container = 'profiling_qc.sif'
  }
  withLabel: dnaalign {
     container = 'dna_alignment.sif'
  }
  withLabel: variantcalling  {
    container = 'variantcalling.sif'
  }
  withLabel: structuralvariant {
     container = 'structuralvariant.sif'
  }
  withName: starfusion {
    container = 'starfusion.sif'
  }
  withName: ralign {
    container = 'rna_alignment.sif'
  }
  withName: geneabund {
    container = 'rna_gene_abundance.sif'
  }
}

singularity {
  enabled = true
  cacheDir = '/project/shared/bicf_workflow_ref/seqprg/singularity/'
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  field = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime'
}

timeline {
  enabled = false
  file = 'timeline.html'
}

report {
  enabled = false
  file = 'report.html'
}

env {
  http_proxy = 'http://proxy.swmed.edu:3128'
  https_proxy = 'http://proxy.swmed.edu:3128'
  all_proxy = 'http://proxy.swmed.edu:3128'
}

manifest {
  homePage = 'https://git.biohpc.swmed.edu/ngsclialab/school'
  description = 'School is a collection of genomics analysis workflows that are used for detecting single nucleotide variants (SNVs), insertions/deletions (indels), copy number variants (CNVs) and translocations from RNA and DNA sequencing.  These workflows have been validated in a CLIA laboratory at UTSW'
  mainScript = 'rna.nf'
  version = '1.0.0'
  nextflowVersion = '>=0.31.0'
}
