process {
  executor = 'slurm'
  clusterOptions = '--hold --no-kill'
  queue = '128GB,256GB,256GBv1'

  withName: rtrim {
    container = 'trim_galore.sif'
  }
  withName: starfusion {
    container = 'starfusion.sif'
  }
  withName: ralign {
    container = 'rna_alignment.sif'
  }
  withName: alignqc {
    container = 'profiling_qc.sif'
  }
  withName: bamct {
    container = 'profiling_qc.sif'
  }
  withName: geneabund {
    container = 'rna_gene_abundance.sif'
  }
  withName: fb {
    container = 'variantcalling.sif'
  }
  withName: dtrim {
     container = 'trim_galore.sif'
  }
  withName: dalign {
     container = 'dna_alignment.sif'
  }
  withName: valign {
     container = 'dna_alignment.sif'
  }
  withName: markdups {
     container = 'dna_alignment.sif'
  }
  withName: dna_bamqc {
     container = 'profiling_qc.sif'
  }
  withName: cnv {
     container = 'structuralvariant.sif'
  }
  withName: itdseek {
     container = 'structuralvariant.sif'
  }
  withName: gatkbam {
     container = 'variantcalling.sif'
  }
  withName: msi {
   container = 'profiling_qc.sif'
  }
  withName: checkmates {
   container = 'profiling_qc.sif'
  }
  withName: pindel {
   container = 'structuralvariant.sif'
  }
  withName: sv {
   container = 'structuralvariant.sif'
  }
  withName: mutect {
   container = 'variantcalling.sif'
  }
  withName: somvc {
   container = 'variantcalling.sif'
  }
  withName: germvc {
   container = 'variantcalling.sif'
  }
  withName: germstrelka {
   container = 'variantcalling.sif'
  }
  withName: integrate {
   container = 'variantcalling.sif'
  }
}

singularity {
  enabled = true
  cacheDir = '/project/shared/bicf_workflow_ref/seqprg/singularity_BC/'
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime'
}

timeline {
  enabled = false
  file = 'timeline.html'
}

report {
  enabled = false
  file = 'report.html'
}

env {
  http_proxy = 'http://proxy.swmed.edu:3128'
  https_proxy = 'http://proxy.swmed.edu:3128'
  all_proxy = 'http://proxy.swmed.edu:3128'
}

manifest {
  homePage = 'https://git.biohpc.swmed.edu/ngsclialab/school'
  description = 'School is a collection of genomics analysis workflows that are used for detecting single nucleotide variants (SNVs), insertions/deletions (indels), copy number variants (CNVs) and translocations from RNA and DNA sequencing.  These workflows have been validated in a CLIA laboratory at UTSW'
  mainScript = 'rna.nf'
  version = '1.0.0'
  nextflowVersion = '>=0.31.0'
}
